* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: rgb(27, 36, 49);;
  font-family: helvetica, sans-serif;
}

nav, section, article {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button:active, button:focus{
  outline: none;
}

